.a,img{
    background-color: skyblue;
}
.b{
    background-color: coral;
}
.c{
    background-color: skyblue;
}
#d{
    background-color: aqua;
}
.e{
    background-color: red;
}
#f{
    background-color: pink;
}